html{
    font-family: 'Rajdhani', sans-serif;

}
body {
    background-color: #002447;
    background-repeat: no-repeat;
    color: black;
    
    background-size: cover;
    min-height: 100%;
    color:#FBECEB;
    
}

article {
    display: flex;
  
    
    flex-direction: column;
   
}


header{
    text-align: center;

}
h1{
    font-size: 42px;
    color: limegreen;
}
h2{
    font-size: 30px;
    
}
p{
    color: white;
}
.header-nav {
    justify-content: space-between;

}



.AboutMe {
  text-align: center;
  font-size: 24px;


}

a  {
    color: rgba(7, 250, 238, 0.938);
    padding: 15px;
    font-size: 22px;
}

.Projects {
    background-image:url(https://images.unsplash.com/photo-1422640805998-18a4dd89bec2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1148&q=80);
    height: 500px; 
    width: 100%; 
    padding: 100px;
    
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  flex-wrap: wrap;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-rule: dotted 1px #333;
    list-style-position: inside;
    
  }
li {
    line-height:1.5em;
    border-bottom:1px solid #ccc;
    list-style-type: none;
    font-size: 22px; 
 
    
}

footer {
    text-align: center;
    justify-content: space-between;
}
